/* encode-sans-300 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/encode-sans/encode-sans-v1-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Light'), local('EncodeSans-Light'),
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-300.svg#EncodeSans') format('svg'); /* Legacy iOS */
}
/* encode-sans-regular - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/encode-sans/encode-sans-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Regular'), local('EncodeSans-Regular'),
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-regular.svg#EncodeSans') format('svg'); /* Legacy iOS */
}
/* encode-sans-500 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/encode-sans/encode-sans-v1-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Medium'), local('EncodeSans-Medium'),
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-500.svg#EncodeSans') format('svg'); /* Legacy iOS */
}
/* encode-sans-700 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/encode-sans/encode-sans-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Bold'), local('EncodeSans-Bold'),
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-700.svg#EncodeSans') format('svg'); /* Legacy iOS */
}
/* encode-sans-600 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/encode-sans/encode-sans-v1-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans SemiBold'), local('EncodeSans-SemiBold'),
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-600.svg#EncodeSans') format('svg'); /* Legacy iOS */
}
/* encode-sans-800 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/encode-sans/encode-sans-v1-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans ExtraBold'), local('EncodeSans-ExtraBold'),
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-800.svg#EncodeSans') format('svg'); /* Legacy iOS */
}
/* encode-sans-900 - latin */
@font-face {
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/encode-sans/encode-sans-v1-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Encode Sans Black'), local('EncodeSans-Black'),
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/encode-sans/encode-sans-v1-latin-900.svg#EncodeSans') format('svg'); /* Legacy iOS */
}