<div class="container" fxLayout.xs="column" fxLayout.sm="column" fxLayout.gt-sm="row">
  <div class="info sp-shadow-a1" fxFlex.gt-sm>
    <h1>Ethiopian Trade Statistics</h1>
    
    <p>The purpose of this site is to make Ethiopian import and export statistics available in a userfriendly and clear format in order to promote:</p>
    
    <md-list>
      <md-list-item>
        <h4 md-line>Investment</h4>
        <p md-line>
          assist potential investors discover opportunities for import substitution.
        </p>
      </md-list-item>
      <md-list-item>
        <h4 md-line>Growth</h4>
        <p md-line>
          help businesses identify developing trends to guide decisions.
        </p>
      </md-list-item>
      <md-list-item>
        <h4 md-line>Research</h4>
        <p md-line>
          serve as a reference for students, researchers and decision makers.
        </p>
      </md-list-item>
    </md-list>

    <p>
      You can search and select an HS Code from the table, select a country from the drop down in the header or check out one of the annual summaries from the dropdown link above. Good luck and happy browsing!
    </p>
    
    <small>
      The data on this site is available to the public from the <a href="http://www.erca.gov.et/" target="_blank">Ethiopian Revenue and Customs Authority (ERCA)</a> and is updated every two months.
    </small>
  </div>

  <div class="graph" fxFlex.gt-sm>
    <ng-container *ngIf="graph | async as graph">
      <ngx-charts-line-chart *ngIf="graph.data"
        [view]="view"
        [scheme]="colorScheme"
        [results]="graph.data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </ng-container>
  </div>
</div>